/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.blue-div {
  /* background-color: rgb(80, 124, 156); */
  background-color: #1c5380;
  width: 100%;
  height: 35vh;
  overflow: auto;
}

.white-div {
  background-color: rgba(245, 245, 247, 255);
  width: 100%;
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer-links-div {
  /* border: 1px solid black; */
  display: flex;
  column-gap: 20px;
  margin-bottom: 40px;
}

.footer-links-div > a {
  text-decoration: none !important;
  color: #1c5380;

  font-weight: 600;
}

.footer-links-div > span {
  color: #999595;
  font-weight: 600;
}

.content-div {
  /* border: 2px solid black; */

  display: flex;
  column-gap: 72px;

  position: absolute;
  top: 18%;
  left: 20%;
}

.inner-content-div {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  row-gap: 24px;
}

.insta-image-login-btn-div {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 52px;
}

.login-btn {
  /* height: 100%; */
  padding: 16px 8px;

  color: white;
  /* background: rgb(97, 139, 173); */
  background: linear-gradient(
    180deg,
    rgb(99, 136, 166) 0%,
    rgba(31, 87, 130, 1) 100%
  );

  border: none;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  display: flex;
  align-items: center;
  column-gap: 8px;

  font-weight: 900;
  font-size: 18px;

  font: 900 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-btn:hover {
  cursor: pointer;
}

.info-div {
  background-color: white;

  /* Fading box shadow inspired by code from: https://codepen.io/anon/pen/aOpOMV */
  box-shadow: 0px 0 10px -1px rgba(0, 0, 0, 0.4);

  position: relative;
  padding: 0px 32px;

  display: flex;

  border-radius: 4px;
  height: 100%;
}

.info-div-inner-content > h2 {
  color: #06365f;
}

.info-div-inner-content {
  z-index: 2;

  display: flex;
  flex-direction: column;
}

.info-div:before {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 75%;
  content: "";
  background: linear-gradient(transparent 0%, rgba(245, 245, 247, 255) 60%);
  transform: scale(1.2);
}

.span-div {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.donwload-images-div {
  margin-top: 32px;
  display: flex;

  margin-top: auto;

  column-gap: 16px;
}

.donwload-images-div > img:hover {
  cursor: pointer;
}
